<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="userOnboarded">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item nav-link" routerLink="/favorites" routerLinkActive="active">Favorites</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
